<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mytpaymentsystem">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MytPaymentSystem"
        tools:targetApi="31">
        <activity
            android:name=".personal.Activity.PersonalFlexiload"
            android:exported="false" />
        <activity
            android:name=".personal.Activity.PersonalPayment"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.CashIn_DF"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.SendMoneyDiscount"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.AdminMainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Agent.Activity.ElectricityBillActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.Activity.AgentPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.Activity.AgentFlexiloadActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.Activity.CashInActivity"
            android:exported="false" />
        <activity
            android:name=".personal.Activity.CashOutActivity"
            android:exported="false" />
        <activity
            android:name=".Agent.Activity.AgentDashboardActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Common.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Common.WelcomeActivity"
            android:exported="true">


        </activity>
        <activity
            android:name=".Common.RegistractionActivity"
            android:exported="false" />
        <activity
            android:name=".personal.Activity.DashboardActivity"
            android:exported="true">


        </activity>
        <activity
            android:name=".Common.ManageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>